In [16]:
import pandas as pd
df = pd.read_csv('Bangalore_1990_2022_BangaloreCity.csv')

In [17]:
print(df.head())
print(df.info())
print(df.describe())

         time  tavg  tmin  tmax  prcp
0  01-01-1990  22.9  19.1  28.4   NaN
1  02-01-1990  21.7   NaN  26.5   0.0
2  03-01-1990  21.0  16.4  26.5   0.0
3  04-01-1990  20.8   NaN  27.4   0.0
4  05-01-1990  20.4  14.2  26.1   0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11894 entries, 0 to 11893
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11894 non-null  object
 1   tavg    11824 non-null  float64
 2   tmin    10505 non-null  float64
 3   tmax    11265 non-null  float64
 4   prcp    7274 non-null   float64
dtypes: float64(4), object(1)
memory usage: 464.7+ KB
None
               tavg          tmin          tmax         prcp
count  11824.000000  10505.000000  11265.000000  7274.000000
mean      23.840426     19.385131     29.932827     4.414119
std        2.309899      2.367239      2.957866    12.994655
min       17.200000      9.300000     19.800000     0.000000
25%       22.300000     18.100000     27.900000     0.000000
50%       23.500000     19.800000     29.500000     0.000000
75%       25.200000     20.800000     32.000000     2.000000
max       32.400000     27.900000     39.200000   271.300000

In [18]:
df['time'] = pd.to_datetime(df['time'], format='%d-%m-%Y')

df = df.apply(lambda col: col.fillna(col.mean()))

df['tmin'] = df['tmin'].astype(float)
df['tmax'] = df['tmax'].astype(float)
df['tavg'] = df['tavg'].astype(float)
df['prcp'] = df['prcp'].astype(float)

df = df.drop_duplicates()

In [19]:
import numpy as np
from scipy.stats import zscore

from scipy.stats import zscore
df = df[(np.abs(zscore(df[['tmin', 'tmax', 'tavg', 'prcp']])) < 3).all(axis=1)]

In [20]:
df['time'] = pd.to_datetime(df['time'])

In [21]:
df.rename(columns={'time': 'Date','tmax': 'MaxTemp', 'tmin': 'MinTemp', 'tavg': 'AvgTemp', 'prcp': 'Precipitation'}, inplace=True)
df.to_csv('Bangalore_cleaned.csv', index=False)